/* background color to whole page */
body {
    background-color: blueviolet;
}

/* Stylings for container holding "About Me" text and profile picture */
#row1 {
    background-color: yellow;
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
}

/* Profile Picture Styling */
#profilePicture {
    padding-top: 20px;

}
/* "About Me" Container styling */
#col1 {
    margin: 20px;
    padding: 20px;
    background-color: cornsilk;
}

